[submodule "abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/saltsystemslab/abseil-cpp
[submodule "external/clht"]
	path = external/clht
	url = git@github.com:saltsystemslab/CLHT
[submodule "external/libcuckoo"]
	path = external/libcuckoo
	url = git@github.com:saltsystemslab/libcuckoo
[submodule "external/iceberght"]
	path = external/iceberght
	url = git@github.com:saltsystemslab/iceberghashtable
[submodule "external/ssmem"]
	path = external/ssmem
	url = https://github.com/LPD-EPFL/ssmem
